.checklist {
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.title {
    text-align: center;
    flex: 1
}

.phase {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.phaseSelection {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 5px;
}

.phaseSelectionButton {
    justify-content: left;
}

.phaseTitleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checks {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navButtons {
    display: flex;
    gap: 15px;
    min-height: 50px;
    justify-content: stretch;
}

.navButtons button {
    flex: 1;
}

.check {
    display: flex;
    justify-content: space-between;
}

.confirm {
    font-style: italic;
    padding-right: 2px; /* Because of italic, the font leans outside... So padding to avoid clipping */
}

.confirmation {
    text-align: right;
}

.heading {
    font-weight: bold;
    padding-top: 1rem;
}